%titleText {
  @include formatted-font(32px,bold,center);
}

.introductionText {
  @include formatted-font(32px,normal,center);
  width: 865px;
  margin: 80px 80px;
}

.executiveTeamText {
  @extend %titleText;
  margin-bottom: 60px;
}

.theWiderTeamText {
  @extend %titleText;
  margin: 80px 60px;
}

.ourLocationText {
  @extend %titleText;
  margin: 80px 0px 60px 0px;
}